@model Notes.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <style>
        body {
            background: url("https://www.walldevil.com/wallpapers/a26/titles-background-papers-wallpaper-resources-lol-images-wallpapers.jpg") no-repeat fixed center;
            color: #002080;
            font-family: 'Indie Flower', cursive;
        }


        h1 {
            color: #26004d;
            text-align: center;
            font-size: 3em;
            font-weight: bold;
            font-family: 'Indie Flower', cursive;
        }

        label {
            font-size: 1.5em;
        }
    </style>
</head>


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1>Change Password</h1>
    <hr />
    <div class="container text-center" display="inline-block" style="width:50%" ;font-size:"2em"; position:fixed; top:50px; left:20%;">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-6 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-6 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}